/* Path: assets/css/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.hero-heading {
    margin-bottom: -100px;
}

#carousel .slides img {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.circle {
    transition: background-color 0.6s ease;
}

.circle.active {
    background-color: #a1a0a2;
}

@keyframes typing {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }    
}

.typing {
    /* infinite typing animation */
    animation: typing 500ms steps(40, end) infinite;
}

#about-us {
    overflow: hidden;
    position: relative;
}

.about-bg {
    opacity: 0.15;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(assets/img/cow-seamless.jpg);
    background-repeat: repeat;
    opacity: 0.4;
}

.about-content {
    position: relative;
}

.about-content h2 span {
    color: #ff0080;
}

.about-content p {
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 10px;
    box-shadow: 0px 0px 20px #fff;
    backdrop-filter: blur(5px);
}

/* ------- Media Queries ------- */

@media only screen and (max-width: 768px) {
    #nav-items {
        display: none;
    }
   
    #nav-items.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 30px;
        align-items: flex-start;
    }

    #nav.active {
        top: 0;
        bottom: 0;
        align-content: flex-start;
    }
}