/* Path: assets/css/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


nav {
    padding: 10px 20px;
    z-index: 2;
}

#hero {
    background: url('/assets/img/hero-image-1.jpg') ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

#hero .content {
    transform: translateY(150px);
    padding-left: 50px;        
    margin-bottom: -150px; /* offset transform */
}

#hero a {
    padding: 15px 20px;
}




@media only screen and (max-width: 767px) {
    #nav-items {
        display: none;
    }
   
    #nav-items.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 30px;
        align-items: flex-start;
    }

    #nav.active {
        top: 0;
        bottom: 0;
        align-content: flex-start;
    }
}

@media only screen and (min-width: 769px) {
    #mobile-menu {
        display: none;
    }

}